<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>boss1_angry1.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,1120},{260,292}}</string>
			<key>offset</key>
			<string>{-28,11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{226,93},{260,292}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry10.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,0},{334,340}}</string>
			<key>offset</key>
			<string>{-18,-15}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{199,95},{334,340}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry11.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,448},{314,386}}</string>
			<key>offset</key>
			<string>{-35,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{192,75},{314,386}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry12.png</key>
		<dict>
			<key>frame</key>
			<string>{{324,0},{338,428}}</string>
			<key>offset</key>
			<string>{-13,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{202,41},{338,428}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry13.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,0},{286,412}}</string>
			<key>offset</key>
			<string>{-32,33}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{209,11},{286,412}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry14.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,342},{266,376}}</string>
			<key>offset</key>
			<string>{-25,5}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{226,57},{266,376}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry15.png</key>
		<dict>
			<key>frame</key>
			<string>{{316,448},{312,344}}</string>
			<key>offset</key>
			<string>{-19,14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{209,64},{312,344}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry16.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,794},{290,324}}</string>
			<key>offset</key>
			<string>{-33,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{206,72},{290,324}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry2.png</key>
		<dict>
			<key>frame</key>
			<string>{{610,794},{250,302}}</string>
			<key>offset</key>
			<string>{-22,8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{237,91},{250,302}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry3.png</key>
		<dict>
			<key>frame</key>
			<string>{{612,1098},{250,280}}</string>
			<key>offset</key>
			<string>{-21,30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{238,80},{250,280}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1142,892},{238,288}}</string>
			<key>offset</key>
			<string>{-14,26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{251,80},{238,288}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry5.png</key>
		<dict>
			<key>frame</key>
			<string>{{864,892},{276,296}}</string>
			<key>offset</key>
			<string>{-19,27}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{227,75},{276,296}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry6.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,836},{316,358}}</string>
			<key>offset</key>
			<string>{-13,30}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{213,41},{316,358}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry7.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{322,446}}</string>
			<key>offset</key>
			<string>{-4,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{219,11},{322,446}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry8.png</key>
		<dict>
			<key>frame</key>
			<string>{{952,610},{280,392}}</string>
			<key>offset</key>
			<string>{-19,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{225,55},{280,392}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
		<key>boss1_angry9.png</key>
		<dict>
			<key>frame</key>
			<string>{{664,414},{286,366}}</string>
			<key>offset</key>
			<string>{-25,-14}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{216,81},{286,366}}</string>
			<key>sourceSize</key>
			<string>{768,500}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>boss1_angry.png</string>
		<key>size</key>
		<string>{1380,1380}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:2f5797a09da5c7533051737c0e93f53b$</string>
		<key>textureFileName</key>
		<string>boss1_angry.png</string>
	</dict>
</dict>
</plist>
